*{
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    margin: 0;
    min-height: 100vh;
    z-index: 0;
}
body::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("assets/back1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.netflix-logo{
    width: 280px;
    height: 140px;
    padding: 0;
}
.buttons{
    padding: 25px;
    margin-right: 20px;
}
.first_button{
    padding: 10px 14px;
    text-align: left;
    font-size: 14px;
    color: rgb(223, 222, 222);
    background-color: rgba(0,0,0,0.8);
    border: 1px solid rgb(212, 201, 201);
    border-radius: 2px;
    cursor: pointer;
    margin-right: 14px;
}
.second_button{
    padding: 10px 22px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: rgb(226, 226, 226);
    background-color: rgb(218, 10, 10);
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.second_button:hover{
    opacity: 0.9;
}
.second_button:active{
    opacity: 0.8;
}
.hero{
    text-align: center;
    width: 750px;
    margin: auto;
    color: rgb(222,222,222);
    margin-bottom: 30px;
}
.hero__title{
    font-size: 3.7rem;
    margin-bottom: 8px;
}
.hero__subtitle{
    font-size: 1.4rem;
    font-weight: 600;
}
.hero__text{
    margin-top: 20px;
}
.start{
    text-align: center;
}
.start__email{
    width: 380px;
    padding: 18px;
    padding-left: 20px;
    background-color: rgb(20, 20, 20);
    border: none;
    font-size: 16px;
    margin: 0;
    color: white;
}
.start__container{
    text-align: center;
}
.start__button{
    padding: 18px 38px;
    margin: 0;
    background-color: rgb(218, 10, 10);
    color: rgb(226, 226, 226);
    border: none;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}
.start__button:hover{
    opacity: 0.9;
}
.start__button:active{
    opacity: 0.8;
}